h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  text-transform: uppercase;
}

.section {
  padding: 2rem 1.5rem;
}

::selection {
  color: white;
  overflow: hidden;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#00cece),to(#00adad));
  background-image: -webkit-linear-gradient(top,#00cece,#00adad);
  background-image: linear-gradient(-180deg,#00cece,#00adad);
}
